/* You can add global styles to this file, and also import other style files #1f1f1f*/
body{
    background: #f8f9fa;
}

.btn-darken-3{
    background-color: #00695c; 
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}