<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal darken-3">
    <logo>
        <a class="navbar-brand">Diller</a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/info" mdbRippleRadius>Info
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <form class="form-inline  waves-light" mdbRippleRadius>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius routerLink="/regin">Reg In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius routerLink="/login">Log In</a>
                </li>
            </ul>
        </form>
    </links>
</mdb-navbar>
