
<!--Card-->
<div class="card" >

    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img src="https://www.ixbt.com/short/images/2017/Nov/tesla-press-roadster.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
        <a>
            <div class="mask"></div>
        </a>
    </div>

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
    </div>

</div>
<!--/.Card-->
            