h1{
    color: #343a40;
}

td{
    color: #343a40;
}
p{
    color: #343a40;
}
.full-rounded{
    border-radius: 15px;
}

.td-size{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}