<div class="col-md-6 center bottom-20 top-120">

<!-- Login form -->
<form>
    <p class="h5 text-center mb-4">Log in</p>

    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input [(ngModel)]="loginUser.username" name="username" type="text" id="defaultForm-email" class="form-control" mdbActive>
        <label for="defaultForm-email">Your email</label>
    </div>

    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input  [(ngModel)]="loginUser.password" name="password" type="password" id="defaultForm-pass" class="form-control" mdbActive>
        <label for="defaultForm-pass">Your password</label>
    </div>

    <div class="text-center">
        <button class="btn btn-darken-3 waves-light" mdbRippleRadius (click)="enter()">Login</button>
    </div>
</form>
<!-- Login form -->
        
</div>
<router-outlet>
</router-outlet>
<!-- <app-login [name] = "'Konstantin'"> 
  <router-outlet></router-outlet>
</app-login> -->